## Cleaning dataset of used cars from eBay Kleinanzeigen

In [ ]:
# Importing the file into a variable called 'autos':

import numpy as np
import pandas as pd
autos = pd.read_csv ('autos.csv', encoding = "Windows-1252")

In [ ]:
# Exploring the data by printing the first and last five rows:

print (autos.head())
print (autos.tail())

In [ ]:
In this dataset:

The columns display information about:
    - dateCrawled = The date the add was placed
    - name = The Name of the car
    - seller = Whether the seller is private or a dealer
    - offerType = Whether this car is requested or offered
    - price = The price of the car in the listing
    - abtest = Whether the listing is included in an A/B test
    - vehicleType = The viehicle Type
    - yearOfRegistration = The year in which the car was first registered
    - gearbox = The transmission type
    - powerPS = The power of the car in PS
    - model = The car model name
    - kilometer = How many kilometers the car has driven
    - monthPfRegistration = The month in which the car was first    registered
    - fuelType = What type of fuel the care uses
    - brand = The brand of the csr
    - notRepairedDamage = IF the car has a damage which has not yet been repaired
    - dateCreated = The date on which the eBay listing was created
    - nrOfPictures = The number of pictures in the ad
    - postalcode = The postal code for the location of the vehicle
    - lastSeenOnline = When the crawler saw this ad last online

The rows display a number and the specific information of the column, whereas the number 0 is the first data entry set (so the headlines do not contain a number).

- The dataset contains 20 columns, most of which are strings.
- Some columns have null values, but none have more than 20% null values.
- The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.

In [ ]:
# Print an array of the existing column names
print (autos.columns)

In [ ]:
# Edditing some of the column names
autos.rename(columns = {"yearOfRegsitration":"registration_year"}, inplace = True)
autos.rename(columns = {"monthOfRegistration": "registration_month"}, inplace = True)
autos.rename (columns = {"notRepairedDamage" : "unrepaired_damage"}, inplace = True)
autos.rename (columns = {"dateCreated" : "ad_created"}, inplace = True)

In [ ]:
# Edit the rest of the column names from CamelCase to Snakecase
autos.rename (columns = {"dateCrawled": "date_crawled"}, inplace = True)
autos.rename (columns = {"offerType" : "offer_type"}, inplace = True)
autos.rename (columns = {"abtest": "ab_test"}, inplace = True)
autos.rename (columns = {"vehicleType": "vehicle_type"}, inplace = True)
autos.rename (columns = {"gearbox" : "gear_box"}, inplace = True)
autos.rename (columns = {"powerPS" : "power_ps"}, inplace = True)
autos.rename (columns = {"fuelType" : "fule_type"}, inplace = True)
autos.rename (columns = {"nrOfPictures" : "nr_of_pictures"}, inplace = True)
autos.rename (columns = {"postalcode": "postal_code"}, inplace = True)
autos.rename (columns = {"lastSeenOnline": "last_seen_online"}, inplace = True)

In [ ]:
# Look at the current state of the auros dataframe
print (autos.head() )

In the Python language, it is more commen to use snakecase words instead of camelcase ones. Therefore, the names of the columns have been adjusted to snakecase words.

In [ ]:
# Use the describe function to look at the descriptive statistics for all columns
print (autos.describe ())

From the descriptive data, we can conclude that:
- The column nr_of_pictures can be dropped, since it mostly contains a 0 value
- The column ad_created can be dropped, because it contains the same information as the column date_crawled, yet without the time data.
- Some data entries or posts have columns without information: those need to be checked and deleted.
- The columns price and odometer are stored as text data, and need to be cleaned and converted to numeric data.

In [ ]:
# Remove non-numeric characters from the price and odometer column values

# For the price column
autos["price"] = autos["price"].str.replace ("$", "")
autos["price"] = autos["price"].str.replace (",", ".")

# For the odometer column values
autos["odometer"] = autos["odometer"].str.replace ("km", "")
autos["odometer"] = autos["odometer"].str.replace (",", ".")

In [ ]:
# Rename the column "odometer" to "odometer_km" 
autos.rename (columns = {"odometer" : "odometer_km"}, inplace = True)

In [ ]:
# Explore the number of unique values in the odometer_km data
autos["odometer_km"].unique().shape

In [ ]:
# Explore the count, mininimum, maximum, median, mean, etc. in the odometer_km data
autos["odometer_km"].describe()

In [ ]:
# Explore the number of data entries for each unique value
autos["odometer_km"].value_counts()

In [ ]:
# Explore the number of unique values in the odometer_km data
autos["price"].unique().shape

In [ ]:
# Explore the count, minimum, maximum, median, mean etc. in the price data
autos["price"].describe()

In [ ]:
# Explore the number of data entries for each unique value in the price data
autos["price"].value_counts ()

In [ ]:
# Checking whether the price values of 0 correspond to offer_type column value "fragen"

# Check how many cars are offered and how many are asked for
autos["offer_type"].value_counts()

Since there is only one car that is being asked for, and the rest of the adds are all cars that are offered, there is no way that the price value of 0 corresponds to the asked cars, since the number of adds with a price value of 0 are 1421. 
Therefore, the data entries with a price value of zero need to be removed from the dataset.

In [ ]:
# Filtering the data entries with a price value of 0 out of the data list
# and replacing it with the text "No Entry"

autos.loc [0, "price"] = ["No Entry"]

In [ ]:
# Check whether the 0 values in the price column have been replaced

autos["price"].head ()
autos["price"].tail ()

In [ ]:
# View the minimum, maximum, average and mean for the registration_year column

autos["registration_year"] .describe ()

In [ ]:
# Order the registration_year data in ascending order

sorted_regyears = autos["registration_year"].sort_values(ascending = True)
print (sorted_regyears)

There are some years registered in the registration_year data that cannot be true. Therefore, these years or data point have to be substituted by the phrase "No Entry".

In [ ]:
# Substitute the outliers 1000, 1001, 1111, 1500, 1800, 2800, 4100, 4500, 4800, 5000,
# 5911, 6200, 8888, 9000, 9996 and 9999 with the string "No Entry"

autos.loc[autos["registration_year"] == 1000, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 1001, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 1111, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 1500, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 1800, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 2800, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 5000, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 5911, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 6200, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 8888, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 9000, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 9996, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 9999, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 4100, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 4800, "registration_year"] = np.nan
autos.loc[autos["registration_year"] == 4500, "registration_year"] = np.nan

In [ ]:
# Check whether the outliers are removed from the data and calculate the distribution of the registration_year column values
autos["registration_year"].value_counts(normalize = True)

In [ ]:
# View the minimum, maximum, average and mean for the registration_year column
autos["registration_month"].describe ()

In [ ]:
# See whether there are outliers in the registration_year data
autos["registration_month"].value_counts()

Since there is no month that is numbered 0, we need to replace the 0 values with a blank that will not be used in further calculations.

In [ ]:
# Replace the 0 value in the registration_month column with a blank

autos.loc[autos ["registration_month"] == 0, "registration_month"] = np.nan

In [ ]:
# Check whether the 0 values have been removed properly
autos["registration_month"].value_counts (normalized = True)

In [ ]:
# Extract the date values from the date and hour values in the date_crawled column

autos.date_crawled = autos.date_crawled[:10]

In [ ]:
# Convert the pandas data from the data_crawled column to datetime data,
# so that we can use the dates in the column for our calculations

autos.date_crawled = pd.to_datetime(autos["date_crawled"])

In [ ]:
# Analyse the dates in the date_crawled column

autos["date_crawled"].describe ()

In [ ]:
# Understanding the date range of the date_crawled column

autos["date_crawled"].value_counts (normalize = True, dropna = False).sort_values()

The dates in the date_crawled column contain no errors. This is why the data in this column will not be filtered.
Furthermore, the above distribution clearly shows that most adds were 
created on April the 3th. However, there seems to be no obvious linear regression of date posts created.

In [ ]:
# Filter the last_seen column data by selecting only the first ten characters that represent the date

autos["last_seen"] = autos.last_seen.str[:10]

In [ ]:
# Convert the pandas data from the data_crawled column to last_seen data,
# so that we can use the dates in the column for our calculations

autos.last_seen = pd.to_datetime(autos["last_seen"])

In [ ]:
# Analyse the dates in the last_seen column

autos["last_seen"].describe ()

In [ ]:
# Understanding the date range of the last_seen column

autos["last_seen"].value_counts ()

In [ ]:
# Now, let's analyse the distribution of the dates in the last_seen column

autos["last_seen"].value_counts(normalize = True, dropna= False).sort_values()

The dates in the date_crawled column contain no errors. This is why the data in this column will not be filtered.
Furthermore, the above distribution clearly shows that most adds were 
created on April the 6th. However, there seems to be no obvious linear regression of date posts created. However, there is a small, though interesting pattern to be found in the highest rate of last seen posts, that accumulates around the 5th until the 7th of April.

In [ ]:
# Filter the ad_created column data by selecting only the first ten characters that represent the date

autos.ad_created = autos.ad_created.str[:10]

In [ ]:
# Convert the pandas data from the ad_created column to ad_created dates,
# so that we can use the dates in the column for our calculations

autos.ad_created = pd.to_datetime(autos["ad_created"])

In [ ]:
# Analyse the dates in the ad_created column

autos["ad_created"].describe ()

In [ ]:
# Understanding the date range of the ad_created column

autos["ad_created"].value_counts ()

In [ ]:
# Now, let's analyse the distribution of the dates in the ad_created column

autos["ad_created"].value_counts(normalize = True, dropna= False).sort_values()

In [ ]:
autos["brand"].value_counts(normalize = True)

The above cell shows that the top 15 brands of the cars cars that are mostly being offered on this German ebay website, in the time period of March and April 2016, are (in assending order): 

Volkswagen
Opel
BMW
Mercedes-Benz
Audi
Ford
Renault
Peugeot
Fiat
Seat 
Skoda
Mazda 
Nissan
Citroen 
Smart

In [ ]:
# Select the fifteen most offered car brands and put them in a seperate list

first_fifteen = auto_brands_ascending[:16]
print (first_fifteen)

In [ ]:
# Make a seperate list in which the mean price is calculated

mean_price = autos["price"].mean